.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
  justify-content: center;
}

.input-text {
  width: 300px;
}

.list-item {
  display: flex;
}
